.header-img {
  height: 400px;
  width: 100%;
  background-image: url("/assets/images/home_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 30px;
}

.title {
  font-size: 1.8em !important;
  margin-top: 60px;
}
