{
  "extends": ["pagarme-base", "plugin:jest/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/no-named-as-default": 0,
    "function-paren-newline": ["error", "consistent"],
    "import/no-named-as-default-member": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/heading-has-content": 0
  }
}
