.fieldset {
  padding: 0;
}

.label {
  display: block;
  font-family: "NotoSans", serif;
  color: var(--color-secondary);
  font-size: 1.15em;
  margin-bottom: 8px;
}

.textarea {
  display: block;
  font-family: "NotoSans", serif;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid var(--color-third);
  color: var(--color-third);
  padding: 10px;
  width: 100%;
  min-height: 150px;
  resize: none;
}
