.title {
  font-family: "NotoSans", serif;
  color: var(--color-secondary);
  font-size: 1.3em;
}

.description {
  font-family: "NotoSans", serif;
  color: var(--color-third);
  font-size: 1.1em;
  margin-top: 10px;
}
