.title {
  font-family: "NotoSans", serif;
  color: var(--color-secondary);
  font-size: 1.3em;
  text-align: center;
}

.description {
  font-family: "NotoSans", serif;
  color: var(--color-third);
  font-size: 1.1em;
  line-height: 22px;
  margin-top: 10px;
  text-align: center;
}

.image-wrapper {
  background-color: var(--color-secondary);
  height: 72px;
  width: 72px;
  border-radius: 1000px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-wrapper > img {
  max-width: 40px;
}

.link-wrapper {
  width: 100%;
}

.link-wrapper > a {
  display: block;
  color: var(--color-primary);
  text-align: center;
  padding: 13px 0;
  font-family: "NotoSans", serif;
  margin-top: 25px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  transition: background-color 0.1s ease;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}
