.header {
  padding-bottom: 30px;
}

.title {
  font-family: "NotoSerif", serif;
  color: var(--color-secondary);
  font-size: 2em;
  font-weight: 500;
}

.title::first-letter {
  text-transform: uppercase;
}
