.seventh-day {
  width: calc(100vw/7 * 1 - 0.01px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.seventh-day-2 {
  width: inherit;
  background-color: var(--primary);
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  width: 100%;
  max-width: 120px;
}
