.header-img {
  height: 400px;
  width: 100%;
  background-image: url("/assets/images/home_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cult-time {
  max-width: 900px;
  display: flex;

  @media only screen and (max-width: 925px) {
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: 925px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cult-time-title {
  font-family: "NotoSerif", serif;
  color: var(--color-secondary);
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 30px;
}

.cult-time-day {
  font-family: "NotoSans", serif;
  color: var(--color-secondary);
  font-size: 1.3em;
}

.cult-time-description {
  font-family: "NotoSans", serif;
  color: var(--color-third);
  font-size: 1.1em;
  margin-top: 10px;
}

.cult-time-box {
  @media only screen and (max-width: 925px) {
    min-width: 100% !important;
    margin-bottom: 20px;
  }
}
