.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.church-name {
  max-width: 20ch;
  font-family: "AdventSans";
  font-weight: 300;
  font-size: 1.7em;
  line-height: 40px;
  color: var(--primary);
}

.church-name-sub {
  font-family: "NotoSans";
  font-size: 1em;
  color: var(--primary);
  text-transform: uppercase;
  margin-top: 16px;
}

.desktop-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.mobile-navigation {
  display: none;
  margin-top: 50px;
  width: 100%;
  position: relative;
}

.mobile-navigation .icon {
  cursor: pointer;
  font-size: 1.5em;
  color: #717171;
}

.mobile-navigation .input {
  display: none;
}

.mobile-navigation .text {
  font-family: "NotoSans";
  text-transform: uppercase;
  color: #717171;
  margin-left: 7px;
}

.mobile-navigation .navigation {
  background-color: #fff;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
}

@media only screen and (max-width: 727px) {
  .desktop-navigation {
    display: none;
  }

  .mobile-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-navigation .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mobile-navigation .navigation {
    padding-top: 30px;
  }

  .mobile-navigation .navigation .site-list {
    margin-top: 30px;
  }

  .mobile-navigation .navigation .institutional-list .item,
  .mobile-navigation .navigation .site-list .item {
    text-align: center;
    margin-bottom: 10px;
  }

  .mobile-navigation .navigation .institutional-list .link,
  .mobile-navigation .navigation .site-list .link {
    font-family: "NotoSans";
    color: #717171;
    text-transform: lowercase;
  }

  .mobile-navigation .input:checked ~ .navigation {
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: block;
  }
}

@media only screen and (max-width: 1097px) {
  .container {
    flex-direction: column;
  }

  .church-name {
    max-width: 100%;
  }

  .church-name-sub {
    text-align: center;
  }

  .desktop-navigation {
    align-items: center;
    margin-top: 50px;
  }

  .list {
    justify-content: center !important;
  }
}

.institutional-navigation {
  margin-bottom: 15px;
}

.institutional-navigation .item {
  display: inline;

  margin-left: 20px;
}

.institutional-navigation .link {
  font-family: "NotoSans";
  color: #717171;
  text-transform: lowercase;
}

.institutional-navigation,
.site-navigation {
  width: 100%;
}

.site-navigation .item {
  display: inline;

  margin-left: 20px;
}

.site-navigation .link {
  font-family: "NotoSerif";
  color: var(--primary);
  text-transform: capitalize;
  font-size: 1.2em;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
